.header{
  background: #FF0000;
  color: white;
  text-align: center;
  font-size: 90px;
  font-family: arial;
  padding: 10px;
}
body {
  background-image: url('musculo.jpg');
  background-repeat: repeat;
  background-size: contain;
}
.menu{
  background: white;
  font font-family: courier;
  overflow: hidden;
  padding: 10px;
}

.menu a{
  color: black;
  padding: 10px;
}

.menu a:hover{
  background: #F7FE2E
}

.footer{
  background: #FF0000;
  color: white;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  padding: 20px;
}
