@charset "UTF-8";
.header{
  background: #FF0000;
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: arial;
  padding: 10px;
}
body {
  background-image: url('musculo.jpg');
  background-repeat: repeat;
  background-size: contain;
}
.menu{
  background: red;
  font-family: courier;
  overflow: hidden;
  padding: 10px;
}

.menu a{
  color: black;
  padding: 10px;
}

.menu a:hover{
  background: #F7FE2E
}

.cuerpo{
  background: white;
  padding: 20px;
  color: black;
  font-family: arial;
}

.j{
  font-family: arial;
  text-align: center;
  color: white;
  padding: 30px;
  font-size: 40px;
  background: #FF0000;
}

j6{
  text-align: left;
  margin-left: 0px;
  font-family: arial;
  font-size: 10px;
}

.pie{
  background: #FF0000;
  color: white;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  padding: 20px;
}
#login{
  color:white;
}
h6{
  text-align: left;
  margin-left: 0px;
  font-family: arial;
  font-size: 10px;
  color:white;
}
h4{
  text-align: left;
  margin-left: 10px;
  font-family: arial;
  font-size: 10px;
  color:white;
}
.button {
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 4px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
